.App {
  padding: 50px ;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
}

.App-Connect {
  padding:  10px;
  background-color:  green;
  border-radius: 0.5em;
  color:  white;
}
.App-logo {
  position:  fixed;
  margin: 20px;
  right:  0;
  top:  0;
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Tokens--Table {
  width:  100%;
  text-align: left;
}
.App-Tokens--Icon {
  height:  20px;
}
.App-Tokens--Symbol {
  color:  #FF1493;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
